# Shorthands
alias d="cd ~/dev"
alias p="cd ~/proj"
alias gp='git pull'
alias gc='git commit -am '

# System tools
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias ll='ls -lsha'

# Science tools
alias ipy="ipython --colors=LightBG"
alias je="java -jar ~/bin/jEdit/5.0pre1/jedit.jar"
alias aladin="java -Xmx6000m -jar ~/bin/aladin/Aladin.jar"

# TopCat
alias tc='java -Xmx4000m -jar ~/bin/topcat-full.jar:~/bin/postgresql.jdbc4.jar -Djdbc.drivers=org.postgresql.Driver uk.ac.starlink.topcat.Driver'
alias stilts="tc -stilts"
alias csv2fits="stilts tcopy ifmt=csv $1 $2"

# Databases
alias startdb="pg_ctl -D /home/gb/local/msc/pgdata -l ~/local/tmp/pg.log start"
alias pglocal="pg_ctl -D /home/gb/local/msc/pgdata -l ~/local/tmp/pg.log "
alias startmongo="mongod --port 4230 --dbpath ~/msc/mongodata --logpath ~/tmp/mongodb.log --logappend --fork"
alias mongo="mongo --port 4230"


# Radio
VLCPLAY="nohup vlc --qt-start-minimized"
alias stubru="$VLCPLAY http://mp3.streampower.be/stubru-high.mp3 2> /dev/null &"
alias rad1="$VLCPLAY http://mp3.streampower.be/radio1-high.mp3 2> /dev/null &"
alias radu="$VLCPLAY http://bbc.co.uk/radio/listen/live/ru.asx 2> /dev/null &"

