[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "vim/bundle/pyflakes-pathogen"]
	path = vim/bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "powerline/fonts"]
	path = powerline/fonts
	url = https://github.com/powerline/fonts
[submodule "vim/bundle/csv"]
	path = vim/bundle/csv
	url = https://github.com/chrisbra/csv.vim
